{% extends 'base.html' %}

{% block head %}
    <title>Grünanlage hinzufügen</title>
{% endblock %}

{% block body %}
    <h1>Grünanlage hinzufügen</h1>

    <form action="/add_space" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token() }}
        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.address.label }}
            {{ form.address(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.description.label }}
            {{ form.description(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.photos.label }}
            {{ form.photos(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary")}}
        </div>
    </form>
{% endblock %}
