{% extends "base.html" %}
{% block body %}
<h2>Bewertung hinzufügen</h2>
<form action="{{ url_for('add_rating') }}" method="POST">
    {{ form.hidden_tag() }}
    space_id = HiddenField('Space ID')
    <div class="rating">
        <label>Sauberkeit</label>
        <div id="cleanliness-rating" class="star-rating"></div>
        {{ form.cleanliness(style='display: none;') }}
        <label>Ausstattung</label>
        <div id="facilities-rating" class="star-rating"></div>
        {{ form.facilities(style='display: none;') }}
        <label>Zugänglichkeit</label>
        <div id="accessibility-rating" class="star-rating"></div>
        {{ form.accessibility(style='display: none;') }}
        <label>Natürliche Vielfalt</label>
        <div id="natural_diversity-rating" class="star-rating"></div>
        {{ form.natural_diversity(style='display: none;') }}
        <label>Umweltfreundlichkeit</label>
        <div id="eco_friendly_practices-rating" class="star-rating"></div>
        {{ form.eco_friendly_practices(style='display: none;') }}
        <label>Sicherheit</label>
        <div id="safety_security-rating" class="star-rating"></div>
        {{ form.safety_security(style='display: none;') }}
        <label>Freizeitmöglichkeiten</label>
        <div id="recreational_opportunities-rating" class="star-rating"></div>
        {{ form.recreational_opportunities(style='display: none;') }}
        <label>Gemeinschaftsengagement</label>
        <div id="community_engagement-rating" class="star-rating"></div>
        {{ form.community_engagement(style='display: none;') }}
        <label>Bildungswert</label>
        <div id="educational_value-rating" class="star-rating"></div>
        {{ form.educational_value(style='display: none;') }}
        <label>Landschaftliche Schönheit</label>
        <div id="scenic_beauty-rating" class="star-rating"></div>
        {{ form.scenic_beauty(style='display: none;') }}
        {{ form.text.label }}
        {{ form.text }}
    </div>
    {{ form.submit() }}
</form>

<script>
    document.querySelectorAll('.star-rating').forEach((ratingDiv, index) => {
        let inputField = ratingDiv.nextElementSibling; 
        for (let i = 0; i < 5; i++) {
            let star = document.createElement('span');
            star.innerHTML = '&#9734;';
            star.onclick = () => {
                inputField.value = i + 1;
                updateStars(ratingDiv, i);
            };
            ratingDiv.appendChild(star);
        }
    });

    function updateStars(ratingDiv, upto) {
        let stars = ratingDiv.children;
        for (let i = 0; i < stars.length; i++) {
            stars[i].innerHTML = i <= upto ? '&#9733;' : '&#9734;';
        }
    }
</script>
{% endblock %}
